body {
    // width: 1920px;
    height: 1080px;



    article {

        top: 0px;
        left: 0px;
        // width: 1920px;
        height: 1080px;
        /* UI Properties */
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;


        h1 {
            top: 282px;
            left: 526px;
            // width: 868px;
            height: 113px;
            /* UI Properties */
            text-align: center;
            font: normal normal bold 86px/113px 'Assistant';
            letter-spacing: 0px;
            color: #D3E10E;
            opacity: 1;
            position: absolute;
            justify-content: center;
        }




        p {

            /* Layout Properties */
            top: 418px;
            left: 600px;
            // width: 721px;
            height: 26px;
            /* UI Properties */
            text-align: center;
            font: normal normal normal 20px/26px 'Assistant';
            letter-spacing: 0px;
            color: $textcolor;
            opacity: 1;
            position: absolute;

        }


        form {

            /* Layout Properties */
            top: 826px;
            left: 637px;
            // width: 873px;
            height: 74px;
            letter-spacing: 0px;
            margin: auto;
            padding: 85px;
            opacity: 1;


            .control-form {

                display: flex;
                flex-direction: row;
                text-align: center;

            }
        }




        label {

            /* Layout Properties */
            top: 850px;
            left: 1092px;
            // width: 418px;
            height: 50px;
            /* UI Properties */
            background: $backgroundcolor;
            // display: flex;
            // flex-direction: row;

            opacity: 1;

        }


        input {

            /* Layout Properties */
            top: 850px;
            left: 1092px;
            // width: 418px;
            height: 50px;
            /* UI Properties */
            background: $backgroundcolor;
            // display: flex;
            // flex-direction: row;

            opacity: 1;
        }

        #email {

            top: 849px;
            left: 637px;
            width: 418px;
            height: 50px;
            /* UI Properties */
            background: #F6F6F6 0% 0% no-repeat padding-box;
            opacity: 1;


        }









        .fullname {

            /* Layout Properties */
            top: 826px;
            left: 1017px;
            width: 38px;
            height: 21px;
            /* UI Properties */
            // text-align: right;
            font: normal normal bold 16px/21px Assistant;
            letter-spacing: 0px;
            color: #011560;
            opacity: 1;

        }

        .name {
            /* Layout Properties */
            top: 826px;
            left: 1458px;
            width: 52px;
            height: 21px;
            /* UI Properties */
            // text-align: right;
            font: normal normal bold 16px/21px Assistant;
            letter-spacing: 0px;
            color: #011560;
            opacity: 1;



        }

        #fullname {
            /* Layout Properties */
            top: 896px;
            left: 1092px;
            width: 418px;
            height: 4px;
            /* UI Properties */
            background: #D3E10E 0% 0% no-repeat padding-box;
            opacity: 1;
        }


    }
}